<div>
    <h4 class="text-center"><strong>List Course Of {{name}}</strong></h4>
    {{#if check}}
    <h4><strong>Empty List</strong></h4>
      
    {{else}}
        <div class="d-flex">
            {{#each course}}
            <a href="../courseDetail/{{_id}}" class="{{_id}}">
            
                <div class="col-2 m-3">
                    <div class="card m-2" style="width: 15rem; ">
                        <img class="card-img-top" src="/{{image}}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: medium;"><a href="../accounts/courseDetail/{{_id}}"
                                    title="View Product">{{title}}</a></h4>
                            <p class="card-text" style="font-size: small;">{{slug_category}}</p>
                            <p class="card-text" style="font-size: small;">{{subtitle}}</p>
            
                            <div class="row">
                                <div class="col">
            
                                    <p class="btn btn-warning btn-block"><strong>{{price}}</strong></p>
                                </div>
                                <div class="col">
                                    <div class="d-flex justify-content-between">
                                        <a href="#" class="btn-sm btn-info ">Add to cart</a>
                                        <a href="#" class="btn-sm btn-info">Add wishlist</a>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </a>
            
            {{/each}}
        </div>
       
    {{/if}}
 
</div>