<div>
    <img src="/img_headerHome.png" alt="picHome" class="homeimg">       
</div>
<div class="homebg1">
    <div class="hometext">Top popular course of the past week</div>
    <div><img src="/home/img_home1.png" alt="" class="homeimg_item"></div>

</div>
<div style="display: flex; justify-content: space-around;">
   {{#each popularcourse}}
    <div class="itemcard" style="display: inline-block; ">
      <img src="{{image}}" alt="" style="width:223px; height: 150px;">
      <div class="itemtitle">{{title}}</div>
      <div class="itemcate"> {{sub_category}}</div>
      <div class="itemauthor">Teacher: {{author_id.fullname}}</div>
      <div style="display: flex;">
        <div class="itemrate">Rate: {{scores_review}}</div>
        <div class="itemnum">({{number_review}})</div>
      </div>
      <div class="itemdes">{{subtitle}}</div>
      <div class="itemprice">{{price}}</div>
      <div style="display: flex; align-items: flex-end;">
        <button><div class="itembtn">Add to Wishlist</div></button>
        <button><div class="itembtn">Add to card</div></button>
      </div>
    </div>
   {{/each}}

    
</div>

<div class="homebg2">
    
    <div><img src="/home/img_home2.png" alt="" class="homeimg_item"></div>
    <div class="hometext">Top viewed courses</div>

</div>
<div style="justify-content: space-around;width: 100%;">
  {{#each viewcourse}}
    <div class="itemcard" style="display: inline-block; ">
      <img src="{{image}}" alt="" style="width:223px; height: 150px;">
      <div class="itemtitle">{{title}}</div>
      <div class="itemcate"> {{sub_category}}</div>
      <div class="itemauthor">Teacher: {{author_id.fullname}}</div>
      <div style="display: flex;">
        <div class="itemrate">Rate: {{scores_review}}</div>
        <div class="itemnum">({{number_review}})</div>
      </div>
      <div class="itemdes">{{subtitle}}</div>
      <div class="itemprice">{{price}}</div>
      <div style="display: flex; align-items: flex-end;">
        <button><div class="itembtn">Add to Wishlist</div></button>
        <button><div class="itembtn">Add to card</div></button>
      </div>
    </div>
   {{/each}}
</div>

<div class="homebg1">
    <div class="hometext">New courses</div>
    <div><img src="/img_login.png" alt="" class="homeimg_item"></div>

</div>

<div style="justify-content: space-around;width: 100%;">
  {{#each newcourse}}
   <div class="itemcard" style="display: inline-block; ">
      <img src="{{image}}" alt="" style="width:223px; height: 150px;">
      <div class="itemtitle">{{title}}</div>
      <div class="itemcate"> {{sub_category}}</div>
      <div class="itemauthor">Teacher: {{author_id.fullname}}</div>
      <div style="display: flex;">
        <div class="itemrate">Rate: {{scores_review}}</div>
        <div class="itemnum">({{number_review}})</div>
      </div>
      <div class="itemdes">{{subtitle}}</div>
      <div class="itemprice">{{price}}</div>
      <div style="display: flex; align-items: flex-end;">
        <button><div class="itembtn">Add to Wishlist</div></button>
        <button><div class="itembtn">Add to card</div></button>
      </div>
    </div>
   {{/each}}
</div>


<div class="homebg2">
    
    <div><img src="/home/img_home3.png" alt="" class="homeimg_item" ></div>
    <div>
        <div class="hometext" style="width: 500px;">The most registered field of study in the last week</div>
        {{#each mostcategory}}
        <div  style="color: rgb(209, 17, 17); font-size: 20px; font-weight: bolder;">{{name}}</div>
        {{/each}}
    </div>
    

</div>
