<div style="height: 800px;">
    <div style="height: 100px; background: #273238;">
        <div style="padding-top: 25px; padding-left: 100px; color: whitesmoke; font-size: 30px; font-weight: bolder;">My profile</div>
    </div>
    <div style="height: 200px; background: #E9EAEC;">
        <div class="father">
            <div class="son">
                <div style="padding: 20px;display: flex; ">
                    <img src="/avata.png" name="avatar" alt="..." class="rounded-circle" style="width: 120px;  margin: 20px;">
                    <div style="text-align: left; margin: 40px; ">
                        <div style="margin-bottom:10px ;">Full name:{{infor.username}}</div>
                        <div style="margin-bottom:10px ;">Email: {{infor.email}}</div>
                    </div>
                </div>
        </div>
        </div>
    </div>
     <div style="text-align: center; margin: 30px; font-size: larger; font-weight: bolder; ">Courses that you've wishlisted</div>
    <div style="display: flex; justify-content: space-around;">
        {{#each infor}}
            <div class="itemcard" style="display: inline-block; ">
                <img src="{{image}}" alt="" style="width:223px; height: 150px;">
                <div class="itemtitle">{{title}}</div>
                <div class="itemcate"> {{sub_category}}</div>
                <div class="itemauthor">Teacher: {{author_id.fullname}}</div>
                <div style="display: flex;">
                    <div class="itemrate">Rate: {{scores_review}}</div>
                    <div class="itemnum">({{number_review}})</div>
                </div>
                <div class="itemdes">{{subtitle}}</div>
                <div class="itemprice">{{price}}</div>
                <div style="display: flex; align-items: flex-end;">
                    <button><div class="itembtn">Add to Wishlist</div></button>
                    <button><div class="itembtn">Add to card</div></button>
                </div>
            </div>
        {{/each}}

    </div>



</div>
