

<div class="postCodeByTeacher d-flex p-0 m-0 " style="box-sizing:border-box; height:1500px;">
    <div class="col-md-1  position-relative p-0 m-0">
        <!-- Begin: SIDEBAR -->
        <div id="side p-0 m-0">
            <div class="w3-sidebar w3-bar-block w3-black w3-xxlarge p-0 m-0"
                style="width:70px;position: absolute !important; box-sizing:border-box;">
                <a href="/api/teachers/homepage" class="mySide" class="side w3-bar-item"><i
                        class="bi bi-house-door fa-xm"></i></a>
                <a href="/" class="mySide active" class="side w3-bar-item "><i
                        class="bi bi-camera-reels fa-xm"></i></i></a>
                <a href="/api/teachers/myListCourses" class="mySide" class="side w3-bar-item "><i
                        class="bi bi-card-list fa-xm"></i></a>
            </div>
        </div>

        <script>
            // Add active class to the current button (highlight it)
            var header = document.getElementById("side");
            var btns = header.getElementsByClassName("mySide");

            for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function () {
                    var current = document.getElementsByClassName("active");
                    current[0].className = current[0].className.replace("active", "");
                    this.className += " active";
                });
            }
        </script>
    </div>
    <div class="formSubmit container">
        <div class="row">

            <div class="col-sm border border-gray  d-flex  justify-content-between flex-lg-wrap mb-2 rounded">
                <div class="wrapper">
                    <button class="btn m-2 bg-info" id="information">
                        Add information
                    </button>
                    <button class="btn m-2 bg-info " id="iamgeupload">
                        Add image and video deomo
                    </button>
                    <button class="btn m-2 bg-info" id="uploaChapterbtn">
                        Add chapter
                    </button>
                </div>
                <div class="wrapperbtnSubmitall">
                    <button class="btn p-3 boder boder-dark rounded " style="color: red; text-decoration:none;"><a href="/api/teachers/myListCourses">Save Change</a></button>
                </div>

            </div>

        </div>
        <div class="row">

            <div class="col border border-gray rounded m-0 p-0" style="height: 1200px;">
                <div class="containerform data">
                    <div class="row">
                        <div class="col-25"><label for="ftitle">
                                <h3><strong>
                                        Create Course Detail
                                    </strong></h3>
                            </label>
                        </div>
                    </div>

                    <form action="/api/courses/updateinfor/{{data._id}}" method="post">
                        <div class="row">
                            <div class="col-25">
                                <label for="ftitle"><strong>Title Course</strong></label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="ftitle" name="title" placeholder="Your title course.."
                                    value="{{data.title}}">
                            </div>
                        </div>
                        <input type="hidden" value="{{user._id}}" name="author_id">
                        <div class="row">
                            <div class="col-25">

                                <label for="fsubcategory"><strong>Short decription</strong></lable>
                            </div>
                            <div class="col-75">
                                <textarea id="subject" name="subtitle" placeholder="{{data.subtitle}}" 
                                    style="height:200px">{{data.subtitle}}</textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="country"><strong>Subcategory</strong></label>
                            </div>
                            <div class="col-75">
                                <div class="dropdown border boder-dark" style="width: 100% !important;">
                                    <button class="btn btn-secondary dropdown-toggle  text-left"
                                        style="width: 100% !important; background-color:rgb( 233 234	236	); color:black;"
                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Please select subcategory
                                    </button>
                                    <input type="hidden" class="form-control" id="fsubcategory" name="sub_category">
                                    <div class="dropdown-menu" style="width: 100% !important;"
                                        aria-labelledby="dropdownMenuButton">

                                        {{#each subCategory}}
                                        <a class="dropdown-item" href="#">{{name}}</a>

                                        {{/each}}
                                    </div>
                                    <script>
                                        $(".dropdown-menu a").click(function () {
                                            event.preventDefault();
                                            $(this).parents(".dropdown").find('.btn').html($(this).text() + '    <span class="caret"></span>');
                                            $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
                                            console.log($(this).text());
                                            $("#fsubcategory").val($(this).text());

                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-25">
                                <label for="subject"><strong>Syslabus</strong></label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="fsyllabus" value="{{data.syllabus}}" name="syllabus" placeholder="Your last name..">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-25">
                                <label for="subject"><strong>Price</strong></label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="fprice" value="{{data.price}}" name="price" placeholder="Ex: 200,000 VND">
                            </div>
                        </div>
                        <br>

                        <br>
                        <div class="row">
                            <div class="col-25">
                                <label for="subject"><strong>Promotion</strong></label>
                            </div>
                            <div class="col-75">
                                <input type="text" id="fpromotion" value="{{data.promotion}}" name="promotion" placeholder="Ex: 200,000 || NO">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-25">
                                <label for="subject"><strong>Description</strong></label>
                            </div>
                            <div class="col-75">
                                <textarea id="mytextarea" class="col-75"
                                    name="description">{{data.description}}</textarea>
                            </div>
                        </div>

                        <br>
                        <div class="rowsubmit">
                            <input type="submit" value="Save information">
                        </div>


                    </form>
                </div>
                <div class="uploadImageAndVideo invisible">
                    <div class="d-flex">
                        <div class="m-5 p-2 border boder-gray">
                            <h4>Avartar Course</h4>
                            <img src="/{{data.image}}" style="width: 300px; height:200px;"alt="">
                        </div>
                        <div class="m-5 p-2 border boder-gray">
                            <h4>Video demo</h4>
                            <video src="/{{data.videoDemo}}" style="width: 300px; height:auto;"></video>
                        </div>

                    </div>
                    
                   
                   
                 

                    <form enctype="multipart/form-data" action="/api/courses/updateImage/{{data._id}}" method="post">
                        <div class="form-group">
                            <label><strong>Upload Image</strong></label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file">
                                        Browse… <input type="file" id="imgInp" name="image">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>

                            <img id='img-upload' />
                        </div>
                        <div class="form-group">
                            <label><strong>Upload Video Demo</strong></label>
                            <input type='file' id='videoUpload' name="videoDemo" />

                            <video width="465px" height="auto" style="display:none;" controls autoplay>
                                Your browser does not support the video tag.
                            </video>
                            <script>
                                document.getElementById("videoUpload").onchange = function (event) {
                                    let file = event.target.files[0];
                                    let blobURL = URL.createObjectURL(file);
                                    document.querySelector("video").style.display = 'block';
                                    document.querySelector("video").src = blobURL;
                                }

                            </script>
                        </div>
                        <div class="rowsubmit">
                            <input type="submit" value="Save Image And Video">
                        </div>
                    </form>
                </div>
                <div class="uploadChapter invisible">
                    <form action="/api/courses/updateChapter/{{data._id}}" method="post">
                    <div class="text-center mt-2"><a href="" class="btn btn-default btn-rounded mb-4 border border-dark rounded" data-toggle="modal"
                        data-target="#modalChapter"><strong>Add Chapter</strong>
                    </a></div>
                     
                        <div class="modal fade" id="modalChapter" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog  mw-100 w-75">
                                <div class="modal-content">
                                    <div class="modal-header text-center">
                                        <h4 class="modal-title w-100 font-weight-bold">Create chapter</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body mx-3">
                                        <div class="md-form mb-5">

                                            <label data-error="wrong" data-success="right" for="defaultForm-email"
                                                id="nameChapter">Name of
                                                chapter</label>
                                            <input type="text" id="defaultForm-email" class="form-control validate"
                                                name="name">
                                        </div>

                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <button type="submit" class="btn btn-default" onclick="handleChapter()">Save
                                            Chapter</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                    {{#each chapters}}
                    <div class="flip_chapter_create m-1"><button onclick="handleGroup(this)"
                            class="text-left w-100 mr-1" value="{{_id}}">
                            {{ name }} </button></div>


                    <div class="panel_lessons_create">{{#each lessons}} <form id={{ _id }} method="POST"
                            action="/api/lesson/delete/{{_id}}">
                            <div class="link_video_lesson border border-dark p-2 m-2"> <a href="http://{{video}}"
                                    class="d-flex" style="color: #EEB00D"> <i class="bi bi-play-circle-fill mr-2"></i>
                                    <p>{{name}}</p>


                                </a>
                                <div class="d-flex "> </div> <button class="btn btn_del_les" value={{_id}}><i
                                        class="fa fa-remove" style="color:red;"></i></button>
                            </div>
                        </form>{{/each}} <div class="d-flex justify-content-between"><button class="btn "
                                data-toggle="modal" data-target="#modalLesson">Add lesson</button>
                            <form method="POST" action="/api/chapter/delete/{{_id}}" id={{_id }}> <button
                                    class="btn btn_del_chapter" value={{ _id }}> Remove chapter <i class="fa fa-remove"
                                        style="color:black;"></i></button></form>
                        </div>
                    </div>
                    {{/each}}

                </div>

            </div>

        </div>
        <form id="createLesson" method="POST" action="/api/lesson/create" enctype="multipart/form-data">
            <div class="modal fade " id="modalLesson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog  modal-dialog-centered mw-80 w-65">
                    <div class="modal-content" role="document">
                        <div class="modal-header text-center">
                            <h4 class="modal-title font-weight-bold">Create lesson by Course</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body ">

                            <div class="md-form mb-5">
                                <i class="fas fa-user prefix grey-text"></i>
                                <label data-error="wrong" data-success="right" id="chapterIDLabel"
                                    for="orangeForm-name">Chapter</label>
                                <input type="hidden" id="chapterID" name="chapterID">
                                <input type="hidden" name="type" value="postCourse">
                                <input type="hidden" name="id_courselesson" value="{{data._id}}">
                            </div>
                            <div class="md-form mb-5">
                                <i class="fas fa-user prefix grey-text"></i>
                                <label data-error="wrong" data-success="right" for="orangeForm-name">Name of
                                    Lesson</label>
                                <input type="text" id="nameofLesson" class="form-control validate" name="name">
                            </div>
                            <div class="md-form mb-5">
                                <i class="fas fa-envelope prefix grey-text"></i>
                                <label data-error="wrong" data-success="right" for="orangeForm-email">Do you
                                    accepted preview
                                    video ? </label>
                                <input type="text" id="" class="form-control validate" name="preview">
                            </div>

                            <div class="md-form mb-4">
                                <i class="fas fa-lock prefix grey-text"></i>
                                <label data-error="wrong" data-success="right" for="orangeForm-pass">Upload
                                    video Lesson</label>
                                <input type="file" id="videoLesson" class="form-control validate" name="video">
                            </div>

                            <button type="submit" class="btn btn-deep-orange">Create Lesson</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>


                        </div>

                    </div>
                </div>
            </div>
        </form>



    </div>


    <script>
        function handleGroup(id) {

            document.getElementById("chapterIDLabel").innerHTML = id.value;
            document.getElementById("chapterID").value = id.value;



        }
        $(document).ready(function () {

            $(".flip_chapter_create").click(function () {
                event.preventDefault();

                $(this).next(".panel_lessons_create").slideToggle("slow");
            });
        });
        $(".btn_del_les").click(function () {
            event.preventDefault();
            alert(this.value)

            $("#" + this.value).submit();
        });
        $(".btn_del_chapter").click(function () {
            event.preventDefault();
            alert(this.value)

            $("#" + this.value).submit();

        });

        $(document).ready(function () {
            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#imgInp").change(function () {
                readURL(this);
            });
        });
        $("#information").click(function () {
            $(".uploadImageAndVideo").css("display", "none");
            $(".uploadChapter").css("display", "none");
            $(".data").css("display", "block");

        });

        $("#iamgeupload").click(function () {
            $(".data").css("display", "none");
            $(".uploadChapter").css("display", "none");
            $(".uploadImageAndVideo").css("display", "block");

            $('.uploadImageAndVideo').attr('style', 'visibility: visible !important');

        });

        $("#uploaChapterbtn").click(function () {
            $(".data").css("display", "none");
            $(".uploadChapter").css("display", "block");
            $(".uploadImageAndVideo").css("display", "none");
            $('.uploadChapter').attr('style', 'visibility: visible !important');
        });

    </script>
</div>