<div class="courseDetail">

    <!-- Begin: Course Detail -->
    <section class="course_detail spad">
        <div class="container ">
            <div class="row">
                <!-- Img -->
                <div class="col-md-6 px-0">
                    <img class="img-fluid rounded w-100 h-100" src="/{{course.image}}"
                        alt="This is image of JavaScript for Beginners Course">
                </div>

                <!-- Text -->
                <div class="col-md-6">
                    <div class="course__details__text">
                        <h3>{{course.title}}</h3>
                        <div class="course__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>({{course.number_review}} reviews)</span>
                            <span>12,001 students</span>
                        </div>
                        <div class="course__details__price">{{course.price}}</div>
                        <p>{{course.subtitle}}</p>

                        <div class="d-flex">
                            <button href="#" type="button" class="btn btn-warning primary-btn">ADD TO CART</button>
                            <form method="POST" action="/api/students/addWishList">
                                <input type="hidden" name="idUser" value="{{user._id}}">
                                <input type="hidden" name="idCourse" value="{{course._id}}">
                                <button type="submit" class="heart-icon"><span class="bi bi-heart-fill"></span></button>
                            </form>
                           
                        </div>
                        <button href="#" type="button" class="btn btn-outline-success btn-buy">Buy now</button>
                        <hr>

                        <ul>
                            <li><b>Last updated</b>{{course.lastUpdate}}</li>
                            <li><b>Course outline</b>
                                <span>{{course.syllabus}}</span>
                            </li>
                        </ul>

                    </div>

                </div>


                {{!-- Begin: NAV --}}
                <div class="col-lg-12 course-detail-tab">
                    <ul class="nav nav-pills changeColor separator" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab" aria-selected="false">Course
                                Content</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                aria-selected="false">Teacher Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab"
                                aria-selected="false">Reviews<span>(1)</span></a>
                        </li>

                    </ul>

                    {{!-- TAB CONTENT (MOCK DATA!!!)--}}
                    <div class="tab-content">
                        {{!-- Begin: TAB 1 - Description --}}
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="course__details__tab__desc">
                                <h6>Course Infomation</h6>
                                <p>{{course.description}}</p>
                            </div>
                        </div>
                        {{!-- End: TAB 1 - Description --}}

                        {{!-- Begin: TAB 2 - Course Content --}}
                      
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="course__details__tab__desc">
                                <h6>Course Content</h6>
                                {{#each chapter}}
                                    <div class="wrapper_dropdown">
                                        <div class="flip_chapter">
                                            <button class="text-left">{{name}}</button>
                                        </div>

                                        <div class="panel_lessons border border-dark ">
                                            {{#each lessons}}
                                            <div href="#" class="link_video_lesson p-2 border border-dark m-1">
                                                <a href="#" class="d-flex" style="color: #EEB00D">
                                                    <i class="bi bi-play-circle-fill mr-2"></i>
                                                    <p>{{name}}</p>
                                                </a>
                                                <div class="d-flex ">
                                                    <a href="#" class="mr-2" style="color: #EEB00D">Preview</a>
                                                    <div>Duration</div>
                                                </div>
                                            </div>

                                            {{/each}}
                                        </div>
                                    </div>
                                {{/each}}



                            </div>
                        </div>
                      
                        <script>
                            $(document).ready(function () {
                                $(".flip_chapter").click(function () {
                                    console.log($(this).next(".panel_lessons"))
                                    $(this).next(".panel_lessons").slideToggle("fast");
                                });
                            });
                        </script>
                        {{!-- End: TAB 2 - Course Content --}}


                        {{!-- Begin: TAB 3 - Instructor Information --}}
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="course__details__tab__desc">
                                <h6>Instructor</h6>
                                <div class="instructorName">
                                    {{!-- Link to Profile of Teacher --}}
                                    <a href="#">Lalisa Manoban</a>
                                    {{!-- <div>Software Developer, Architect and UX Designer</div> --}}
                                    <p>Software Developer, Architect and UX Designer</p>
                                </div>
                                <div class="instructorImgandInfo">
                                    <a href="#" class="imgInstructorBox">
                                        <img class="instructorImg" src="/student/instructor.jpg" alt="Instructor image">
                                    </a>
                                    <div class="ud-unstyled-list">
                                        <div>
                                            <div class="listItem">
                                                <i class="bi bi-bookmark-star-fill"></i>
                                                <p>100,017 Reviews</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="listItem">
                                                <i class="bi bi-people-fill"></i>
                                                <p>324,864 Students</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="listItem">
                                                <i class="bi bi-play-circle-fill"></i>
                                                <p>10 Courses</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                    sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                    eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                    Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                    sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                    diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                    Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                    Proin eget tortor risus.</p>
                            </div>
                        </div>
                        {{!-- End: TAB 3 - Instructor Information --}}


                        {{!-- Begin: TAB 4 - Student's Feedback --}}
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div class="course__details__tab__desc">
                                <div class="">

                                </div>
                                <h6>Course Feedback</h6>
                                <div class="reviewsAndRating">
                                    <script>
                                        const arr_imgStudent = ['/student/avtStudent.jpg', '/student/avtStudent.jpg', '/student/avtStudent.jpg', '/student/avtStudent.jpg', '/student/avtStudent.jpg']
                                        const arr_nameStudent = ['Brian K.', 'Brian K.', 'Brian K.', 'Brian K.', 'Brian K.']
                                        for (let i = 0; i < 20; i++) {
                                            document.write(`<div class=" studentComment">
                                        <div class="review_Heading">
                                            <div class="review_Heading_Name_Rating">
                                                <div class="review_Heading_Rating_1">
                                                    <a class="imgStudentBox">
                                                        <img class="imgStudent" src="/student/avtStudent.jpg" alt="">
                                                    </a>
                                                    <div>Brian K.</div>
                                                </div>
                                                
                                                <div class="review_Heading_Rating_2">
                                                    <div>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    {{!-- <div class="review_Heading_time">2 months ago</div> --}}
                                                </div>
                                            </div>
                                        </div>
                                        {{!-- <div style="padding-top: 1rem">
                                            <span>
                                                I really liked this course from both trainers. The one thing I'd love to see for future would be a bit around these ECMA
                                                modules and handling those versus require statements. I'm running into that more and more with online training and I was
                                                really hoping this course would cover that, maybe on future editions? Otherwise, very happy with the value for money and
                                                training skill.
                                            </span>
                                        </div> --}}
                                    </div>`);
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                        {{!-- End: Student's Feedback --}}
                    </div>
                    {{!-- End: NAV --}}


                </div>
            </div>
    </section>
    <!-- End: Course Detail -->


    {{!-- Begin: 5 other courses in the same category are bought the most --}}
    <section class="featured-course">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title featured__product__title">
                        <h2>Featured Courses</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <script>
                    const img_arr = ['/student/HTML_COURSE.png', '/student/HTML_COURSE.png', '/student/HTML_COURSE.png', '/student/HTML_COURSE.png', '/student/HTML_COURSE.png']
                    const courseName_arr = ['1 Hour HTML', '1 Hour HTML', '1 Hour HTML', '1 Hour HTML', '1 Hour HTML']
                    const cost_arr = ['$30.00', '$30.00', '$30.00', '$30.00', '$30.00']

                    for (let i = 0; i < 5; i++) {
                        document.write(`
                            <div class="m-2">
                                <div class= "course__item " >
                                    <div class="course__item__pic set-bg">
                                        <a href="#">
                                            <img src="${img_arr[i]}" alt="">
                                        </a>
                                        <ul class="course__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="course__item__text">
                                        <h6><a href="#">${courseName_arr[i]}</a></h6>
                                        <h5>${cost_arr[i]}</h5> 
                                    </div>
                                </div>
                            </div>
                    `);
                    }
                </script>
            </div>
        </div>
    </section>
    {{!-- End: 5 other courses in the same category are bought the most --}}
</div>